*{
    font-family: var(--police);
}

body{
    background-color: var(--blanc);
    margin: 0;
}

div{
    font-size: var(--textes);
}

h2{
    font-size: var(--titres);
}

.btn{
    background-color: var(--rouge);
    padding: 20px 40px;
    border: none;
    color: var(--blanc);
    font-size: var(--texte_boutton);
    width: 260px;
    cursor: pointer;
}