
.footer{
    background-color: var(--noir);
    color: var(--footer);
    font-size: 20px;
    margin-bottom: 0px;
}

.container_texte{
    padding: 40px 0 40px 320px;
    width: 300px;
}

.date{
    padding-bottom: 20px;
}
